
// .background{
//     width: 430px;
//     height: 520px;
//     position: absolute;
//     transform: translate(-50%,-50%);
//     left: 50%;
//     top: 50%;
// }
// .background .shape{
//     height: 200px;
//     width: 200px;
//     position: absolute;
//     border-radius: 50%;
// }

.body{
  background-image: url("../../../../../src/assets/images/login.jpg");
  height: calc(100vh - 57px);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

form{
    width: 700px;
    background-color: rgba(255,255,255,0.13);
    transform: translate(0%,5%);
    // top: 50%;
    // left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px 20px 35px;
    margin: auto;
}

@media(max-width:500px){
  form{
    width: 300px;
  }

  input{
    width: 100%
  }


}

@media(max-width:1025px){
  .body{
    height: calc(100vh - -47px);
  }

  form{
    max-width: 500px;
    min-width: auto;
  }

  form *{
    flex-basis: 100%;
  }

  .input{
    display: flex;
    gap: 0px !important;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-basis: auto;
  }

  label{
    margin-top: 5px !important;
  }

  input{
    width: 100%;
    }
}

form *{
    font-family: 'Poppins',sans-serif;
    letter-spacing: 0.5px;
    outline: none;

}
form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
}

label{
    display: flex;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
    justify-content: flex-start;
}


.input{
  display: flex;
  gap: 20px;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-basis: auto;
}

input{
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 20px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
    border: 1px solid snow;
}
::placeholder{
    color: #e5e5e5;
}
:focus{
  box-shadow: 0px 0px 5px 4px #af3a3a52;
}

.userMail,
.pass{
  flex-basis: 48%;
}

button{
    margin-top: 50px;
    width: 100%;
    color: white !important;
    padding: 20px 0;
    font-size: 25px;
    font-weight: 800;
    border-radius: 15px;
    border: none;
}

a.newUser{
  display: flex;
  justify-content: flex-start;
  margin: 10px 0px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
}
a.newUser:focus{
  box-shadow: none !important
}
