<div class="container-fluid">
  <div class="subject">
    <div class="row text-center mt-5">
      <div class="col-lg-3 col-md-4 col-sm-12" *ngFor="let subj of allQuestions; let index = index">
        <div class="row text-center box">
          <div class="col-12">
            <button class="btn btn-success" routerLink="/exam" (click)="getID(index+1)">{{subj.subjectName}}</button>
          </div>
          <div class="col-6">
            <button class="btn btn-danger" *ngIf="loginUser?.role === 'doctor'" (click)="delete(subj.id)">حذف</button>
          </div>
          <div class="col-6">
            <button class="btn btn-primary" *ngIf="loginUser?.role  === 'doctor'" routerLink="/student">عرض</button>
          </div>
          <div class="col-6">
            <button class="btn btn-info" *ngIf="loginUser?.role  === 'student'" routerLink="/exam" (click)="getID(index+1)">أبدأ الاختبار</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


