.container-fluid{
  padding-left: 50px;
  padding-right: 50px;
}


.btn-success{
  width: 98% !important;
  height: 70px;
  margin-bottom: 5px;
  font-size: 30px;
  font-weight: bold;
}

.box{
  padding:10px;
}

button{
  line-height: 1 !important;
  width: 98%;
}

.col-6,
.col-3,
.col-12{
  padding-right: 0px;
  padding-left: 0px;
}
